<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutS</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    

</head>
<body class=" overflow-hidden h-lvh max-h-screen grid grid-rows-12 justify-items-center items-center bg-colorapp">
    <header class="  w-screen  mt-5  row-start-12 row-span-1  flex justify-center items-center">
        <menu class= "bg-colorapp  w-screen h-14 flex justify-between items-center  -mt-5 rounded-bl-custom rounded-br-custom  shadow-inner-custom">
             <!-- homer-->
            <div class="  flex justify-center items-center  w-20 h-18 p-2 ">
                <i class="fa-solid fa-house text-2xl text-[#ffffff]"></i>

            </div>
                <!-- analise-->
            <div class="  flex flex-col justify-center items-center text-center w-20 ">
                <svg class="w-12 h-[2rem]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="30" height="30">
                    <path d="M128 128C128 110.3 113.7 96 96 96C78.3 96 64 110.3 64 128L64 464C64 508.2 99.8 544 144 544L544 544C561.7 544 576 529.7 576 512C576 494.3 561.7 480 544 480L144 480C135.2 480 128 472.8 128 464L128 128z" fill="#ffffff"/>
                    <path d="M534.6 214.6C547.1 202.1 547.1 181.8 534.6 169.3C522.1 156.8 501.8 156.8 489.3 169.3L384 274.7L326.6 217.4C314.1 204.9 293.8 204.9 281.3 217.4L185.3 313.4C172.8 325.9 172.8 346.2 185.3 358.7C197.8 371.2 218.1 371.2 230.6 358.7L304 285.3L361.4 342.7C373.9 355.2 394.2 355.2 406.7 342.7L534.7 214.7z" fill="green"/>
                </svg>
                <p class=" text-shadow font-extrabold  mt-[1.rem] shadow-colorapp w-14 text-[0.63rem] text-[#ffffff]">H2H</p>

            </div>
            <!-- ao vivo -->
            <div class="   w-40 h-12 pb-[1rem] pr-4 pl-4 flex flex-col justify-center items-center text-center">
                <i class="fa-solid fa-tower-broadcast text-2xl mt-[1.2rem] text-[#f70000]"></i>
                <p class=" text-shadow font-extrabold  mt-[1.rem] shadow-colorapp w-14 text-[0.70rem] text-[#ffffff]">LIVE</p>
            </div>
            <!-- dicas-->
            <div class="  flex flex-col justify-center items-center text-center w-20">
                <svg class="w-10 h-[2rem] " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                    <!-- Lâmpada amarela -->
                    <path fill="#FFD700" d="M420.9 448C428.2 425.7 442.8 405.5 459.3 388.1C492 353.7 512 307.2 512 256C512 150 426 64 320 64C214 64 128 150 128 256C128 307.2 148 353.7 180.7 388.1C197.2 405.5 211.9 425.7 219.1 448L420.8 448z"/>
                    <!-- Base preta -->
                    <path fill="#000000" d="M416 496L224 496L224 512C224 556.2 259.8 592 304 592L336 592C380.2 592 416 556.2 416 512L416 496z"/>
                    <!-- Detalhes internos (opcional) -->
                    <path fill="#FFD700" d="M312 176C272.2 176 240 208.2 240 248C240 261.3 229.3 272 216 272C202.7 272 192 261.3 192 248C192 181.7 245.7 128 312 128C325.3 128 336 138.7 336 152C336 165.3 325.3 176 312 176z"/>
                </svg>
                <p class=" text-shadow font-extrabold shadow-colorapp w-14 text-[0.63rem] text-[#ffffff]">DICAS</p>
            </div>
            <!-- usuario-->
            <div class="  flex justify-center items-center w-20 h-12 p-2 ">
                <i class="fa-solid fa-circle-user text-3xl text-[#ffffff]"></i>
            </div>
        </menu>
    </header>



    <main class=" shadow-conteiner	w-[96%] row-start-2 row-span-10  h-full grid grid-rows-4" >
        <!-- live -->
        <div class= "  row-start-1 row-span-1 h-full  ">
                <div class="flex flex-col justify-start h-full text-center">
                    <div class=" font-black text-white w-20  rounded-[1.15rem] border-[0.rem] h-5 ">LIVE</div> <!-- nome-->
                    <!--conteiner dos jogos live-->
                    <div  id="conteiner-times-live" class="mt-1  m- grid grid-cols-3 h-full">
                    
                        <div id="times-live-1" class="bg-coolo  rounded-[12rem] flex justify-center items-center  w-[6.57rem] h-full ">
                            <div class="relative w-[93%] h-[93%] overflow-hidden bg-gradiente1 shadow-elevo rounded-[0.50rem]  ">
                                <div class=" font-orbitron font-bold backdrop-blur-sm flex justify-ceSnter items-center absolute z-10 border text-white text-border-red text-[0.35rem] rounded-[1.15rem] w-[1.5rem] h-[0.8rem] left-[4.25rem] top-[0.18rem]">
                                        <span class="mx-auto">
                                            LIVE
                                        </span>
                                </div>
                                <div class="   font-orbitron font-bold flex backdrop-blur-sm flex-col justify-center items-center absolute z-10 border text-white text-border-red text-[0.5rem] rounded-[1.15rem] w-[0.88rem] h-[40px] left-[44px] top-[33px]">
                                    <span>
                                        0 
                                    </span>
                                    <span>
                                        x 
                                    </span>
                                    <span>
                                        1
                                    </span>
                                </div>
                               
                                <!-- Parte vermelha (Home) -->
                                <div class="  absolute inset-0  bg-red-600/10 clip-home flex items-start justify-start">
                                  <img src="/src/logos/flamengo.png" alt="Home Logo" class=" img min-w-9 h-10 m-2">
                                </div>
                                <!-- Parte amarela (Visitante) -->
                                <div class=" absolute inset-0 bg-opacity-30 bg-slate-500/10 clip-visitor flex items-end justify-end">
                                  <img src="/src/logos/botaesc.png" alt="Visitor Logo" class=" img min-w-9 h-10 m-2">
                                </div>
                            </div>
                        </div>
                        
                        

                        






                        <div id="times-live-2" class="bg-gradiente1 shadow-elevo rounded-[0.50rem] flex justify-center items-center  w-[6.57rem] h-full ">
                            <div class="relative w-[93%] h-[93%] overflow-hidden bg-gradiente1 shadow-elevo rounded-[0.50rem]  ">
                                <div class=" font-orbitron font-bold backdrop-blur-sm flex justify-center items-center absolute z-10 border text-white text-border-red text-[0.35rem] rounded-[1.15rem] w-[1.5rem] h-[0.8rem] left-[4.25rem] top-[0.18rem]">
                                    <span class="mx-auto">
                                        LIVE
                                    </span>
                            </div>
                            <div class="   font-orbitron font-bold flex backdrop-blur-sm flex-col justify-center items-center absolute z-10 border text-white text-border-red text-[0.5rem] rounded-[1.15rem] w-[0.88rem] h-[40px] left-[44px] top-[33px]">
                                <span>
                                    0 
                                </span>
                                <span>
                                    x 
                                </span>
                                <span>
                                    1
                                </span>
                            </div>
                                
                                <!-- Parte vermelha (Home) -->
                                <div class="  absolute inset-0  bg-red-600 clip-home flex items-start justify-start">
                                  <img src="/src/logos/flamengo.png" alt="Home Logo" class=" img w-9 h-10 m-2">
                                </div>
                                <!-- Parte amarela (Visitante) -->
                                <div class="absolute inset-0 bg-opacity-30 bg-slate-500 clip-visitor flex items-end justify-end">
                                  <img src="/src/logos/corint.png" alt="Visitor Logo" class=" img w-9 h-10 m-2">
                                </div>
                            </div>
                            
                        </div>

                        <div id="times-live-3" class="bg-gradiente1 shadow-elevo rounded-[0.50rem] flex justify-center items-center  w-[6.57rem] h-full ">
                            <div class="relative w-[93%] h-[93%] overflow-hidden bg-gradiente1 shadow-elevo rounded-[0.50rem]  ">
                                <div class=" font-orbitron font-bold backdrop-blur-sm flex justify-center items-center absolute z-10 border text-white text-border-red text-[0.35rem] rounded-[1.15rem] w-[1.5rem] h-[0.8rem] left-[4.25rem] top-[0.18rem]">
                                    <span class="mx-auto">
                                        LIVE
                                    </span>
                            </div>
                            <div class="   font-orbitron font-bold flex backdrop-blur-sm flex-col justify-center items-center absolute z-10 border text-white text-border-red text-[0.5rem] rounded-[1.15rem] w-[0.88rem] h-[40px] left-[44px] top-[33px]">
                                <span>
                                    0 
                                </span>
                                <span>
                                    x 
                                </span>
                                <span>
                                    1
                                </span>
                            </div>
                                <!-- Parte vermelha (Home) -->
                                <div class="  absolute inset-0  bg-red-600 clip-home flex items-start justify-start">
                                  <img src="/src/logos/flamengo.png" alt="Home Logo" class="img w-8 h-10 m-2">
                                </div>
                                <!-- Parte amarela (Visitante) -->
                                <div class="absolute inset-0 bg-opacity-30 bg-slate-500 clip-visitor flex items-end justify-end">
                                  <img src="/src/logos/botaesc.png" alt="Visitor Logo" class=" img w-9 h-10 m-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" shadow-elevo  mt-1 border-[0.2rem] border-corbordas shadow-black  shadow-inner-custom w-full rounded-[1.25rem]  "></div>
                </div>
        </div>
        
        <!-- proximos -->
        <div class= "  row-start-2 row-span-1 h-full  ">
            <div class="flex flex-col justify-start h-full text-center">
                <div class="shadow-elevo flex justify-center items-center text-center text-border-red bg-[#6D6D6F] font-ubuntu  font-black text-white w-full mt-1  rounded-[1.15rem] border-[0.rem] h-5 ">PROXIMOS</div>
                <div class=" shadow-elevo flex mt-1  border-[0.2rem] border-corbordas shadow-black  shadow-inner-custom w-full rounded-[1.25rem]  "></div>
                <!--conteiner dos jogos live-->
                <div class="mt-1  m- grid grid-cols-3 h-full">
                   
                    <div id="times-live-1" class="bg-gradiente1 shadow-elevo rounded-[0.50rem] flex justify-center items-center  w-[6.57rem] h-full ">
                        <div class="relative w-[93%] h-[93%] overflow-hidden bg-gradiente1 shadow-elevo rounded-[0.50rem]  ">
                            <div class=" font-orbitron font-bold backdrop-blur-sm flex justify-center items-center absolute z-10 border text-white text-border-red text-[0.35rem] rounded-[1.15rem] w-[1.5rem] h-[0.8rem] left-[4.25rem] top-[0.18rem]">
                                    <span class="mx-auto">
                                        LIVE
                                    </span>
                            </div>
                            <div class="   font-orbitron font-bold flex backdrop-blur-sm flex-col justify-center items-center absolute z-10 border text-white text-border-red text-[0.5rem] rounded-[1.15rem] w-[0.88rem] h-[40px] left-[44px] top-[33px]">
                                <span>
                                    0 
                                </span>
                                <span>
                                    x 
                                </span>
                                <span>
                                    1
                                </span>
                            </div>
                           
                            <!-- Parte vermelha (Home) -->
                            <div class="  absolute inset-0  bg-red-600 clip-home flex items-start justify-start">
                              <img src="/src/logos/flamengo.png" alt="Home Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                            <!-- Parte amarela (Visitante) -->
                            <div class=" absolute inset-0 bg-opacity-30 bg-slate-500 clip-visitor flex items-end justify-end">
                              <img src="/src/logos/botaesc.png" alt="Visitor Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                        </div>
                    </div>
                    <div id="times-live-1" class="bg-gradiente1 shadow-elevo rounded-[0.50rem] flex justify-center items-center  w-[6.57rem] h-full ">
                        <div class="relative w-[93%] h-[93%] overflow-hidden bg-gradiente1 shadow-elevo rounded-[0.50rem]  ">
                            <div class=" font-orbitron font-bold backdrop-blur-sm flex justify-center items-center absolute z-10 border text-white text-border-red text-[0.35rem] rounded-[1.15rem] w-[1.5rem] h-[0.8rem] left-[4.25rem] top-[0.18rem]">
                                    <span class="mx-auto">
                                        LIVE
                                    </span>
                            </div>
                            <div class="   font-orbitron font-bold flex backdrop-blur-sm flex-col justify-center items-center absolute z-10 border text-white text-border-red text-[0.5rem] rounded-[1.15rem] w-[0.88rem] h-[40px] left-[44px] top-[33px]">
                                <span>
                                    0 
                                </span>
                                <span>
                                    x 
                                </span>
                                <span>
                                    1
                                </span>
                            </div>
                           
                            <!-- Parte vermelha (Home) -->
                            <div class="  absolute inset-0  bg-red-600 clip-home flex items-start justify-start">
                              <img src="/src/logos/flamengo.png" alt="Home Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                            <!-- Parte amarela (Visitante) -->
                            <div class=" absolute inset-0 bg-opacity-30 bg-slate-500 clip-visitor flex items-end justify-end">
                              <img src="/src/logos/botaesc.png" alt="Visitor Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                        </div>
                    </div>
                    <div id="times-live-1" class="bg-gradiente1 shadow-elevo rounded-[0.50rem] flex justify-center items-center  w-[6.57rem] h-full ">
                        <div class="relative w-[93%] h-[93%] overflow-hidden bg-gradiente1 shadow-elevo rounded-[0.50rem]  ">
                            <div class=" font-orbitron font-bold backdrop-blur-sm flex justify-center items-center absolute z-10 border text-white text-border-red text-[0.35rem] rounded-[1.15rem] w-[1.5rem] h-[0.8rem] left-[4.25rem] top-[0.18rem]">
                                    <span class="mx-auto">
                                        LIVE
                                    </span>
                            </div>
                            <div class="   font-orbitron font-bold flex backdrop-blur-sm flex-col justify-center items-center absolute z-10 border text-white text-border-red text-[0.5rem] rounded-[1.15rem] w-[0.88rem] h-[40px] left-[44px] top-[33px]">
                                <span>
                                    0 
                                </span>
                                <span>
                                    x 
                                </span>
                                <span>
                                    1
                                </span>
                            </div>
                           
                            <!-- Parte vermelha (Home) -->
                            <div class="  absolute inset-0  bg-red-600 clip-home flex items-start justify-start">
                              <img src="/src/logos/flamengo.png" alt="Home Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                            <!-- Parte amarela (Visitante) -->
                            <div class=" absolute inset-0 bg-opacity-30 bg-slate-500 clip-visitor flex items-end justify-end">
                              <img src="/src/logos/botaesc.png" alt="Visitor Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" shadow-elevo  mt-1 border-[0.2rem] border-corbordas shadow-black  shadow-inner-custom w-full rounded-[1.25rem]  "></div>
            </div>
         </div>
       

      
        
        <!-- futuros -->
        <div class= "  row-start-3 row-span-1 h-full  ">
            <div class="flex flex-col justify-start h-full text-center">
                <div class="shadow-elevo flex justify-center items-center text-center text-border-red bg-[#6D6D6F] font-ubuntu  font-black text-white w-full mt-1 rounded-[1.15rem] border-[0.rem] h-5 ">JOGOS DO DIA</div>
                <div class=" shadow-elevo flex mt-1  border-[0.2rem] border-corbordas shadow-black  shadow-inner-custom w-full rounded-[1.25rem]  "></div>
                <!--conteiner dos jogos live-->
                <div class="mt-1  m- grid grid-cols-3 h-full">
                    <div id="times-live-1" class="bg-gradiente1 shadow-elevo rounded-[0.50rem] flex justify-center items-center  w-[6.57rem] h-full ">
                        <div class="relative w-[93%] h-[93%] overflow-hidden bg-gradiente1 shadow-elevo rounded-[0.50rem]  ">
                            <div class=" font-orbitron font-bold backdrop-blur-sm flex justify-center items-center absolute z-10 border text-white text-border-red text-[0.35rem] rounded-[1.15rem] w-[1.5rem] h-[0.8rem] left-[4.25rem] top-[0.18rem]">
                                    <span class="mx-auto">
                                        LIVE
                                    </span>
                            </div>
                            <div class="   font-orbitron font-bold flex backdrop-blur-sm flex-col justify-center items-center absolute z-10 border text-white text-border-red text-[0.5rem] rounded-[1.15rem] w-[0.88rem] h-[40px] left-[44px] top-[33px]">
                                <span>
                                    0 
                                </span>
                                <span>
                                    x 
                                </span>
                                <span>
                                    1
                                </span>
                            </div>
                           
                            <!-- Parte vermelha (Home) -->
                            <div class="  absolute inset-0  bg-red-600 clip-home flex items-start justify-start">
                              <img src="/src/logos/flamengo.png" alt="Home Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                            <!-- Parte amarela (Visitante) -->
                            <div class=" absolute inset-0 bg-opacity-30 bg-slate-500 clip-visitor flex items-end justify-end">
                              <img src="/src/logos/botaesc.png" alt="Visitor Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                        </div>
                    </div>
                    <div id="times-live-1" class="bg-gradiente1 shadow-elevo rounded-[0.50rem] flex justify-center items-center  w-[6.57rem] h-full ">
                        <div class="relative w-[93%] h-[93%] overflow-hidden bg-gradiente1 shadow-elevo rounded-[0.50rem]  ">
                            <div class=" font-orbitron font-bold backdrop-blur-sm flex justify-center items-center absolute z-10 border text-white text-border-red text-[0.35rem] rounded-[1.15rem] w-[1.5rem] h-[0.8rem] left-[4.25rem] top-[0.18rem]">
                                    <span class="mx-auto">
                                        LIVE
                                    </span>
                            </div>
                            <div class="   font-orbitron font-bold flex backdrop-blur-sm flex-col justify-center items-center absolute z-10 border text-white text-border-red text-[0.5rem] rounded-[1.15rem] w-[0.88rem] h-[40px] left-[44px] top-[33px]">
                                <span>
                                    0 
                                </span>
                                <span>
                                    x 
                                </span>
                                <span>
                                    1
                                </span>
                            </div>
                           
                            <!-- Parte vermelha (Home) -->
                            <div class="  absolute inset-0  bg-red-600 clip-home flex items-start justify-start">
                              <img src="/src/logos/flamengo.png" alt="Home Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                            <!-- Parte amarela (Visitante) -->
                            <div class=" absolute inset-0 bg-opacity-30 bg-slate-500 clip-visitor flex items-end justify-end">
                              <img src="/src/logos/botaesc.png" alt="Visitor Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                        </div>
                    </div>
                    <div id="times-live-1" class="bg-gradiente1 shadow-elevo rounded-[0.50rem] flex justify-center items-center  w-[6.57rem] h-full ">
                        <div class="relative w-[93%] h-[93%] overflow-hidden bg-gradiente1 shadow-elevo rounded-[0.50rem]  ">
                            <div class=" font-orbitron font-bold backdrop-blur-sm flex justify-center items-center absolute z-10 border text-white text-border-red text-[0.35rem] rounded-[1.15rem] w-[1.5rem] h-[0.8rem] left-[4.25rem] top-[0.18rem]">
                                    <span class="mx-auto">
                                        LIVE
                                    </span>
                            </div>
                            <div class="   font-orbitron font-bold flex backdrop-blur-sm flex-col justify-center items-center absolute z-10 border text-white text-border-red text-[0.5rem] rounded-[1.15rem] w-[0.88rem] h-[40px] left-[44px] top-[33px]">
                                <span>
                                    0 
                                </span>
                                <span>
                                    x 
                                </span>
                                <span>
                                    1
                                </span>
                            </div>
                           
                            <!-- Parte vermelha (Home) -->
                            <div class="  absolute inset-0  bg-red-600 clip-home flex items-start justify-start">
                              <img src="/src/logos/flamengo.png" alt="Home Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                            <!-- Parte amarela (Visitante) -->
                            <div class=" absolute inset-0 bg-opacity-30 bg-slate-500 clip-visitor flex items-end justify-end">
                              <img src="/src/logos/botaesc.png" alt="Visitor Logo" class=" img min-w-9 h-10 m-2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" shadow-elevo  mt-1 border-[0.2rem] border-corbordas shadow-black  shadow-inner-custom w-full rounded-[1.25rem]  "></div>
            </div>
         </div>
      
        <!-- noticias -->
        <div class= "  row-start-4 row-span-1 h-full  ">
            <div class="flex flex-col justify-start h-full text-center">
                <div class="shadow-elevo flex justify-center items-center text-center text-border-red bg-[#6D6D6F] font-ubuntu  font-black text-white w-full mt-1 rounded-[1.15rem] border-[0.rem] h-5 ">NOTICIAS</div>
                <div class=" shadow-elevo flex mt-1  border-[0.2rem] border-corbordas shadow-black  shadow-inner-custom w-full rounded-[1.25rem]  "></div>
                <!--conteiner dos jogos live-->
                <div class=" grid grid-cols-2 h-full ">
                    <div class=" rounded-[1.55rem] flex ml-1 border-2 w-[10.57rem] h-full mt-[0.75rem] "></div>
                    <div class=" rounded-[1.55rem] flex border-2 w-[10.57rem] h-full mt-[0.75rem]"></div>
                </div>
            </div>
         </div>
        
    </main>


   <footer class="w-screen h-12 mb-12 px-8 mt-[3.5rem]">
    <nav class="flex w-full text-white">
        <div class="flex justify-between items-center w-full ">
                <a href="pagina2.html" class= "flex items-center justify-center ">
                        <img src="/src/logos/FuutLogo.png" alt=""  class="w-15 h-10 rounded-xl drop-shadow-[4px_5px_1px_rgba(17,7,17,1)]">
                </a>              
                <a href="pagina1.html" class="flex items-center justify-center w-10 h-10  rounded-xl drop-shadow-[4px_5px_1px_rgba(17,7,17,1)]">
                    <i class="fa-solid fa-bars text-white text-2xl"></i>
                </a>
        </div>
        </nav>

        
    </footer> 
</body>
</html>