<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutS</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


</head>
<body class=" overflow-hidden h-lvh max-h-screen grid grid-rows-9 justify-items-center items-center bg-colorapp">
    <header class="  w-screen  mt-5  row-start-9 row-span-9  flex justify-center items-center">
        <menu class="bg-[#333030] w-screen h-14 flex justify-center items-center -mb-2 rounded-bl-custom rounded-br-custom  shadow-inner-custom">
            <div class="flex justify-center items-center  w-18 h-12 p-2 ">
                <img class="" src="/src/logos/inicio.png" alt="ícone inicio">
            </div>
            <div class="flex justify-center items-center w-18 h-12 p-2 ">
                <img class="" src="/src/logos/h2h.png" alt="ícone h2h">
            </div>
            <div class=" w-24 h-12 pb-[1rem] pr-4 pl-4 flex flex-col justify-center items-center text-center">
                <img class="w-14 -mb-[1.3rem]  " src="/src/logos/vecteezy_live-sign-png_16314910.png" alt="ícone live"  >
                <p class=" text-shadow mt-[0.2rem] shadow-black w-14 text-[0.70rem] text-[#ffffff]">LIVE</p>
            </div>
            <div class="flex justify-center items-center w-18 h-12 p-2 ">
                <img class="h-auto" src="/src/logos/DICAS.png" alt="ícone dicas" >
            </div>
            <div class="flex justify-center items-center w-18 h-12 p-2 ">
                <img class="" src="/src/logos/PERFIL.png" alt="ícone PERFIL">
            </div>
        </menu>
    </header>



     <main class=" shadow-conteiner	w-[96%] row-start-2 row-span-7 border-2 ">
        <conteiner-jogos class="">
            <conteiner-linha class="flex flex-col justify-start h-[40rem] text-center">
                <div class="font-ubuntu font-bold text-white w-[3.5rem] ml-1 rounded-[1.25rem] border-2">Live</div>
                <div class="border-2 w-[100%] "></div>
            </div>
        <!-- live -->
        <!-- <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
        <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
        <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
        <div>proximos</div> -->
        <!-- proximos -->
        <!-- <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
        <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
        <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
        <div>futuro</div> -->
        <!-- futuros -->
        <!-- <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
        <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
        <div class="border-2 w-[6.57rem] h-[7.81rem]"></div> -->
        </conteiner-jogos> 
        
        <!-- <conteiner-noticias class="grid grid-cols-2">
            <div>noticias</div> -->
            <!-- noticias -->
            <!-- <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
            <div class="border-2 w-[6.57rem] h-[7.81rem]"></div>
        </conteiner-noticias> -->
        
        
    </main>










    <footer class=" w-screen h-14 mb-12  mt-8  row-start-1 row-span-1  flex justify-center items-center  ">
         <div class=" mr-20  ">
            <img src="/src/logos/opcoes.png" alt="">
         </div>
         <div class=" ">
            <img src="/src/logos/FuutLogo.png" alt="">
         </div>
         <div class=" ml-20 ">
            <img src="/src/logos/Sininho.png" alt="">
         </div>
       
    </footer> 
</body>
</html>