<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuutS   </title>
<link href="/css/output.css" rel="stylesheet">
</head>
<body class="h-screen w-screen grid grid-rows-6 bg-colorapp  justify-center items-center" >
    <header class="row-span-2 border-2 border-rose-600 ">
        <h1>menu</h1>
    </header>
 <main class="row-span-4 border-2 border-rose-600 ">
    {{{body}}}
 </main>
    <footer class="row-span-6 border-2 border-rose-600 ">
         <p>&copy; 2025 FuutS</p>
         <p>Sávio Rangel</p>
    </footer>
</body>
</html>