@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  }

  .grade-eixo1 {
    -webkit-box-shadow: 38px 42px 41px -21px rgba(0,0,0,1);
    -moz-box-shadow: 38px 42px 41px -21px rgba(0,0,0,1);
    box-shadow: 38px 42px 41px -21px rgba(0,0,0,1);
  }
  .grade-eixo2 {
    -webkit-box-shadow: -43px -33px 41px -21px rgba(0,0,0,1);
-moz-box-shadow: -43px -33px 41px -21px rgba(0,0,0,1);
box-shadow: -43px -33px 41px -21px rgba(0,0,0,1);
  }
  .text-border-red {
    text-shadow: 0px 0px 1px red, 0px 0px 2px red;
  }
  .text-border-black {
    text-shadow: 0px 0px 1px rgb(0, 0, 0), 0px 0px 2px red;
  }
 .shadow-elevo {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }
 .img {
   filter:drop-shadow(8px 8px 8px rgba(0,0,0,1));
}

 
}

